<section class="content">
  <h1>What are Stocks ?</h1>
  <div class="stock-content">
    A stock (also known as equity) is a security that represents the ownership of a fraction of a corporation. This entitles the owner of the stock to a proportion of the corporation's assets and profits equal to how much stock they own. Units of stock are called "shares."
  </div>
  <div class="stock-info">
    <h2>Top stocks</h2>
    <h3 style="padding: 5px;" appMyHighlight [backgroundColor]="'lightblue'" [foregroundColor]="'black'" [hoverBackgroundColor]="'lightblue'" [hoverForegroundColor]="'black'">Top 5 stocks by Market Demand.</h3>
  </div>
  <div class="stock-cards">
    Table1
  </div>
  <div class="stock-cards">
    Table2
  </div>
</section>

