.fd-content {
  margin: 82px auto 32px;
  padding: 0 16px;
  width: 1000px;
}

.box-black {
  border: 1px solid black;
  padding: 20px;
}

.form-section {
  margin: 10px;
}

.main-labels {
  padding: 5px;
  background-color: skyblue;
}
